body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.video-container {
    margin: 10px;
    text-align: center;
}

.video-container img {
    width: 200px; /* Điều chỉnh kích thước hình ảnh nếu cần */
    height: auto;
    border-radius: 8px;
    transition: transform 0.2s;
}

.video-container img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
